<h2>
 Bunt bedruckte Meditationsmatte im Maharaja Design
</h2>
<p>
 Unser ZABUTON ist eine weiche Meditationsunterlage mit einem Bezug aus robuster Baumwolle. Dank mehrerer Lagen Vlies im Inneren werden die Knie und Füße während der Meditation spürbar entlastet. Auf diese Weise brauchst du dir keine Gedanken mehr über eingeschlafene Füße oder schmerzende Knie machen und kannst dich voll und ganz auf deine Meditation konzentrieren.
</p>
<p>
 Der abnehmbare Bezug besteht aus robuster, bedruckter Baumwolle und lässt sich bei 30 Grad in der Maschine waschen. Im Inneren sorgen mehrere Lagen Baumwollvlies für eine komfortable Polsterung.
</p>
<ul>
 <li>
  Maße:ca. 80 x 80 cm
 </li>
 <li>
  Material: Bedruckte Baumwolle (100 %)
 </li>
 <li>
  Füllung: Baumwollvlies (100 % Baumwolle)
 </li>
 <li>
  Abnehmbarer Bezug mit Reißverschluss
 </li>
</ul>
