<h2>
 Ashtanga Yogamatte Chandra: Besonders schwer und widerstandsfähig
</h2>
<p>
 Die CHANDRA MAT ist eine äußerst widerstandsfähige Ashtanga Yogamatte aus High Density PVC. Aufgrund des robusten Materials eignet sie sich besonders für die häufige und intensive Nutzung und Stile mit hoher Materialbeanspruchung wie Ashtanga Yoga, Power Vinyasa Yoga oder Hot Yoga.
</p>
<p>
 Mit einer Stärke von 6,5 mm bietet die Ashtanga Matte eine besonders komfortable und gelenkschonende Dämpfung, die sich für jeden Untergrund eignet. Bitte beachte, dass die Matte erst nach mehrmaliger Nutzung ihre volle Rutschfestigkeit entfaltet, und dass viel Schweiß oder Feuchtigkeit die Griffigkeit der PVC-Yogamatte vermindern kann. Die CHANDRA MAT ist in zwei verschiedenen Größen erhältlich: In der Standardlänge mit 185 cm, und in Extralänge mit 200 cm.
</p>
<h3>
 Robuste und pflegeleichte Ashtanga Yogamatte
</h3>
<p>
 Das hygienische, geschlossenzellige Material verhindert, dass Schweiß in die Matte eindringt. Zur Reinigung kann die Matte mit einem feuchten Tuch abgewischt oder mit einem milden Desinfektionsmittel gereinigt werden. Die Matte sollte liegend an der Luft trocknen. Bitte nicht über die Heizung legen, in den Trockner geben oder dauerhaft direkter Sonneneinstrahlung aussetzen.
</p>
<p>
 Die Yogamatte ist Öko-Tex-zertifiziert und SGS-getestet.
</p>
<p>
 <b>
  Details zur Chandra Mat
 </b>
 <ul>
  <li>
   Schwere und robuste Ashtanga Matte
  </li>
  <li>
   Material: PVC
  </li>
  <li>
   Maße: Standard 185 x 66 cm | XL. 200 x 66 cm
  </li>
  <li>
   Gewicht: Standard 3,2 kg | XL: 3,5 kg
  </li>
  <li>
   SGS-gestestet: Frei von Latex, DOP-Weichmachern, AZO-Farbstoffen, schädlichen Schwermetallen, 6P-frei
  </li>
 </ul>
</p>
