<h2>
 EcoPro Diamond: Extra dicke und rutschfeste Yogamatte für anspruchsvolle Yogis
</h2>
<p>
 Unsere EcoPro Diamond Mat ist extra dicke Yogamatte aus 100 % Naturkautschuk. Dank ihrer 6 mm Materialstärke verfügt sie über eine hervorragende Dämpfung und ausreichend Komfort auch in knienden oder liegenden Yogahaltungen. Zudem bietet die Naturkautschuk Yogamatte durch ihre offenporige, eher trockene Oberflächenstruktur auch einen ausgezeichneten Grip. Die extrem gute Rutschfestigkeit bleibt auch bei Hitze, Feuchtigkeit und in schweißtreibenden Übungen erhalten. Somit ist die Diamond Yogamatte für alle Yogastile und gerade auch anspruchsvollere Asanas geeignet.
</p>
<p>
 Die EcoPro Diamond Matte besteht zu 100 % aus natürlichem Kautschuk. Sie ist frei von Chemikalien, Allergenen und Schadstoffen. Außerdem ist sie zertifiziert nach höchstem Öko-Tex Standard 100, welcher die Unbedenklichkeit bei Hautkontakt sogar für Babyartikel garantiert.
</p>
<h3>
 Umweltfreundliche Yogamatte aus 100 % Naturmaterialien
</h3>
<ul>
 <li>
  Maße: 185 x 60 cm
 </li>
 <li>
  Stärke: 6 mm (auch in 4 mm erhältlich)
 </li>
 <li>
  Feucht abwischbar
 </li>
 <li>
  Gewicht: ca. 2,1 kg
 </li>
 <li>
  Öko-Tex Baby-Standard, Klasse I,(Zertifikat Nr. 2012OK0503)
 </li>
 <li>
  Frei von Chemikalien, Allergenen und Schadstoffen
 </li>
 <li>
 </li>
</ul>
<p>
 <strong>
  Hinweis:
 </strong>
 Wir erhalten gelegentlich Rückmeldungen von Kunden, die beanstanden, dass es auf der Oberfläche der EcoPro Diamond Yogamatte zu Abrieb oder Gebrauchspuren kommt. Durch mechanische Einwirkung können Schäden an der Mattenoberfläche entstehen, zum Beispiel Schleifspuren der Fersen, wenn diese über die Matte schleifen oder kleinere Beschädigungen durch Stöße, scharfe Nägel o.ä. Hierbei handelt es sich nicht um Fertigungs- oder Materialfehler.
</p>
<p>
 Wir möchten das Folgende zu bedenken geben: Je griffiger und stumpfer die Oberfläche einer Yogamatte ist, desto größer ist zwangsläufig ihr Abrieb.
 <br/>
 Die außerordentliche Rutschfestigkeit der EcoPro Matten ist ein besonderes Qualitätsmerkmal. Deshalb möchten wir das Material der Matten nicht verändern, und bitten um Verständnis, dass diese Matten Gebrauchsspuren durch Abrieb aufweisen können. Die Funktionalität und Rutschfestigkeit wird hierdurch nicht beeinträchtigt. Leider können wir Matten mit Abriebschäden nicht ersetzen. Die Garantie beschränkt sich auf Material- oder Fertigungsfehler. Wir bitten um Ihr Verständnis.
</p>
<p>
 <strong>
  Pflegehinweise:
 </strong>
 Bitte achte darauf, die Matte stets richtig herum (mit dem bodhi Label außen) einzurollen, um Knicke auf der Oberseite zu vermeiden. Die Yogamatte sollte zudem nicht im direkten Sonnenlicht gelagert werden. Zur Reinigung kann die Matte mit einem feuchten Tuch abgewischt oder unter der Dusche abgebraust werden.
</p>
