<h2>
 Buntes Meditationskissen Zafu aus Baumwolle
</h2>
<p>
 Du möchtest ein buntes Meditationskissen kaufen? Unser Meditationskissen Zafu aus der Maharaja Collection ist in verschiedenen, farbenfroh bedruckten Designs erhältlich. Das Yogakissen ermöglicht eine aufrechte und gleichzeitig entspannte Meditationshaltung und eignet sich besonders gut für die Meditation im Schneidersitz (Sukhasana), im Burmesischen Sitz (Siddhasana) oder im Halben Lotossitz (Ardha Padmasana).
</p>
<p>
 Das Meditationskissen Zafu besitzt einen bedruckten Baumwollbezug mit Dehnfalten. Der Bezug kann nicht abgenommen werden. Bei Bedarf kannst du Füllung mithilfe des Reißverschlusses unter dem Trageband entnehmen.
</p>
<ul>
 <li>
  Meditationskissen mit Dehnfalten
 </li>
 <li>
  Maße: ca. 38 x 20 cm (gefüllt)
 </li>
 <li>
  Bezug: 100 % Baumwolle
 </li>
 <li>
  Füllung: Dinkelhülsen
 </li>
 <li>
  Mit praktischem Tragegriff
 </li>
 <li>
  Mit festem Bezug
 </li>
</ul>
<h3>
 Dein bodhi Meditationskissen soll niedriger oder weicher werden? Dinkelspelz kann einfach entnommen werden!
</h3>
<p>
 Sollte das Zafu Meditationskissen zu hoch oder zu
hart sein, kannst du ganz einfach Dinkelspelz entnehmen. Dazu öffnest du
das Meditationskissen mithilfe des Reißverschlusses unter dem
Trageband und entnimmst so viel
Dinkelspelz, bis die gewünschte Höhe oder Härte erreicht ist.
Die entnommene Kissenfüllung sollte kühl und trocken gelagert werden.
Wir empfehlen ein geschlossenes Gefäß.
</p>
