<h2>
 Meditationsset Zabuton und Meditationskissen im Maharaja Design
</h2>
<p>
 Du möchtest mit der Meditation beginnen und zu diesem Zweck ein Meditationsset kaufen? Unser praktisches Medi-Set aus der Maharaja Collection besteht aus einer Meditationsunterlage Zabuton sowie einem farblich dazu passenden Meditationskissen. Ein Meditationskissen ist das wichtigste Hilfsmitte für deine Meditationspraxis und hilft dir dabei, aufrecht und gleichzeitig entspannt im Meditationssitz zu sitzen. Beim Yogakissen hast du die Wahl zwischen unseren Klassikern Rondo und Zafu. Beide Kissen sind mit Dinkelspelz gefüllt.
</p>
<p>
 Die weiche Meditationsmatte ist gerade bei regelmäßiger und längerer Meditation wichtig. Dank des mehrlagigen Baumwollvlies bietet die Unterlage deinen Knien und Füßen eine angenehme Polsterung. So kannst du dich voll und ganz auf deine Meditation konzentrieren.
</p>
<h3>
 Medi-Set bestehend aus einem Meditationskissen und einer Meditationsmatte:
</h3>
<p>
 <strong>
  Meditationskissen Zafu:
 </strong>
</p>
<ul>
 <li>
  Bezug: Mit Muster bedruckter Stoff (100 % Baumwolle)
 </li>
 <li>
  füllung: Dinkelspelz
 </li>
 <li>
  Maße: ca. 38 x 20 cm (gefüllt)
 </li>
 <li>
  Fester Bezug
 </li>
</ul>
<p>
 <strong>
  Meditationskissen Rondo :
 </strong>
</p>
<ul>
 <li>
  Bezug: Mit Muster bedruckter Stoff (100 % Baumwolle)
 </li>
 <li>
  Füllung: Dinkelspelz
 </li>
 <li>
  Maße: ca. 32 x 20 cm (gefüllt) Höhe von Naht zu Naht ca. 14 cm
 </li>
 <li>
  Abnehmbarer Bezug mit Reißverschluss
 </li>
</ul>
<p>
 <strong>
  Meditationsmatte Zabuton:
 </strong>
</p>
<ul>
 <li>
  Maße: ca. 80 x 80 cm
 </li>
 <li>
  Bezug: Mit Muster bedruckter Stoff (100 % Baumwolle)
 </li>
 <li>
  Füllung: Baumwollvlies (100 %Baumwolle)
 </li>
 <li>
  Abnehmbarer Bezug mit Reißverschluss.
 </li>
</ul>
