<h2>
 Meditation mat by bodhi
</h2>
<p>
 Our meditation mat ZABUTON is a soft mat made of multi-layered cotton fleece. It provides padding for your knees and feet while meditating; helping you to sit for longer periods of time without any discomfort. The removable cover is made of printed cotton and can be machine washed 30°C max.
</p>
<ul>
 <li>
  Dimensions: approx. 80 x 80 cm
 </li>
 <li>
  Material: printed twill fabric (100% cotton)
 </li>
 <li>
  Filling: multilayer fleece (70% cotton / 30% polyester)
  <span>
  </span>
 </li>
 <li>
  <span>
   Removable cover with zipper
  </span>
 </li>
 <li>
  <span>
   Different designs available
  </span>
 </li>
</ul>
<div>
 <h2>
  Meditation mat in five different designs
 </h2>
 <p>
  The meditation mat is available in different designs from our Maharaja Collecton. You can find matching cushions in other sizes,  yoga mats and yoga bolsters in our shop.
 </p>
</div>
