<h2>
 Ashtanga yoga mat Chandra: heavy-duty and robust
</h2>
<p>
 The CHANDRA MAT is particularly robust and long-lasting, ideal for yoga studios and the rigors of daily use. Highly-recommended for repeated, intensive use, as well as for high-intensity yoga styles with high demands on yoga mats, e.g. Ashtanga, Vinyasa and Power Yoga.
</p>
<p>
 With a thickness of 6.5 mm the heavy duty CHANDRA MAT provides very good cushioning, excellent insulation, good grip and the stability you need to relax in standing poses. The full grip of the CHANDRA MAT is developed over time through repeated use. Please note, sweat and moisture tend to reduce the grip of PVC mats.
</p>
<h3>
 Robust and easy care Ashtanga yoga mat
</h3>
<p>
 The hygienic, closed-cell material prevents perspiration from being absorbed by the mat. To clean, simply wipe the surface after using with a damp cloth or a light disinfectant and lay flat to dry. Please do not place the mat on a radiator or use a dryer.
 <avoid direct exposure for longer of p periods sunlight time.< to>
  <p>
   With Oeko-Tex certificate (TP025 122612), SGS tested: PVC mat without AZO dyes, without DOP, without heavy metals; without phthalates (6-P free)..
  </p>
  <p>
   <strong>
    Details:
   </strong>
  </p>
  <ul>
   <li>
    Heavy-duty and robust Ashtanga mat
   </li>
   <li>
    Material: PVC
   </li>
   <li>
    Dimensions: Standard 185 x 66 cm | XL. 200 x 66 cm
   </li>
   <li>
    Weight: standard 3.2 kg | XL: 3.5 kg
   </li>
   <li>
    SGS-tested: Free of latex, DOP plasticizers, AZO dyes, harmful heavy metals, 6P-free
   </li>
   <li>
   </li>
  </ul>
 </avoid>
</p>