<p>
 The Vital acupressure Foot Mat stimulates the energy meridians/acupressure points in the soles of the feet, improving the energy flow for a revitalizing and rebalancing effect.
</p>
<p>
 The intensity of the foot mat can be varied by sitting or standing, at home or in the office, with socks on or barefoot.
</p>
<ul>
 <li>
  648 points
 </li>
 <li>
  Color: aubergine
 </li>
</ul>
<p>
 <br/>
 <strong>
  Benefits of  VITAL acupressure
 </strong>
 <br/>
 The positive effects of the VITAL acupressure mat are based on acupressure, part of Traditional Chinese Medicine (TCM). In acupressure, the energy flow is improved by applying pressure to the energy points of the body, improving the organ functions and helping to relieve pain.
 <br/>
 This kind of  „bed of nails“ has been used for the healing of body and mind for more than 4,000 years.
 <br/>
 The VITAL acupressure mat stimulates the acupressure points of the body, thereby promoting energy flow and has a vitalizing and balancing effect.
</p>
