<h2>
 Maharaja Collection: Asana Bag Cotton, printed yoga mat bag
</h2>
<p>
 Practical yoga mat bag made from 100% sturdy cotton. Great for transporting yoga mats. The belt is adjustable, the bag can be easily carried over the shoulder or the back. The two outer pockets have room for a yoga belt, keys, towel or other small items.
</p>
<ul>
 <li>
  Available in three different sizes: for yoga mats in widths of 60, 70, or 80 cm
 </li>
 <li>
  Six different designs
 </li>
 <li>
  Suitable for mats with a thickness of up to 5 mm and a maximum length of 200 cm
 </li>
</ul>
<p>
 <strong>
  Please note:
 </strong>
 This bag is not suitable for our yoga mats EcoPro Diamond, Ganges, Lotus Pro and Chandra. For these mats we recommend the more spacious Asana City Bag.
</p>
