<h3>
 Extra-thick yoga mat made of natural rubber. A top yoga mat for peak performance.
</h3>
<div>
 <p>
  A yoga mat designed for demanding use.
 </p>
 <p>
  • offers superior cushioning with a thickness of 6 mm
 </p>
 <p>
  • open-cell structure provides a fantastic grip, even in hot and sweaty conditions
 </p>
 <p>
  • extremely robust and durable
 </p>
 <p>
  • certified OEKO-TEX Standard 100, Class I (certificate no. 2012OK0503)
 </p>
 <p>
  • free of chemicals, allergens and toxic materials;
 </p>
 <p>
  Wipe with a damp cloth to clean. Do not tumble dry. Do not put in direct sunlight.
 </p>
 <ul>
  <li>
   Size: 185 cm x 60 cm, 6 mm
  </li>
  <li>
   Weight: 2.1 kg
  </li>
  <li>
   Keep out of direct sunlight
  </li>
 </ul>
 <p>
  <br/>
  Note:
  <br/>
  We occasionally receive feedback from customers who complain that the
surface of the EcoPro mat is not sufficiently resistant to abrasion and shows signs of use. The
 surface of the mat can be damaged by abrasion and impact, e.g. longer
rubbing marks from dragging the heels or toes over the mat or minor
damage from an impact, sharp nails or objects. These are not
manufacturing or material defects.
  <br/>
  <br/>
  It is a fact that the more grip a yoga mat offers, the less abrasion
 resistance it will have. Because the extraordinary traction of the
EcoPro mats is so unique, we do not want to change the material of the
mats and the EcoPro can show some caused by abrasion. The functionality
and grip are in no way affected by this.
  <br/>
  <br/>
  Unfortunately, we can not replace mats with abrasion damage.
  <br/>
  The warranty is limited to material or manufacturing defects. We ask for your understanding.
 </p>
</div>
