<h2>
 Colorful meditation cushion Zafu made of cotton
</h2>
<p>
 Are you looking for a colorful
meditation cushion? Our yoga cushion ZAfu from the Maharaja Collection
is available in five colorful designs. The meditation cushion provides a
practical raised seat for meditation and allows for an upright and
relaxed meditation posture. It is well suited for cross-legged
meditation (Sukhasana), the Burmese seat (Siddhasana) or the Half Lotus
(Ardha Padmasana).
</p>
<p>
 The meditation cushion Zafu has a printed cotton cover. The cover can not be removed. The filling can be removed by opening the zipper under the strap.
</p>
<ul>
 <li>
  Dimensions: approx. 38 x 20 cm,(filled), height from seam to seam approx. 14 cm
 </li>
</ul>
<ul>
 <li>
  Material: printed twill fabric (100% cotton)
 </li>
</ul>
<ul>
 <li>
  Filling: spelt hulls
 </li>
</ul>
<ul>
 <li>
  <span>
   Non-removable cover.
  </span>
 </li>
</ul>
<ul>
 <li>
  <span>
   Available in 5 different designs
  </span>
 </li>
</ul>
<h3>
 <span>
  Would you like your Bodhi meditation cushion to be softer or lower? Simply remove some spelt hulls!
 </span>
</h3>
<h2>
 <span>
 </span>
</h2>
<span>
</span>
<span>
</span>
<p>
 <span>
  If the meditation cushion is too high or too hard for you it is easy to
remove spelt hulls. To do this, open the meditation cushion with the
zipper under the strap. You can then open the ticking separately and
remove as much spelt hulls as needed until the desired height or
firmness is reached. The removed filling can be then stored in a
cool and dry place to be used later. We recommend a closed container.
 </span>
</p>
