<h2>
 Are you looking for a colorful meditation cushion?
</h2>
<p>
 Our yoga cushion Rondo from the Maharaja Collection is available in five colorful designs.
 <br>
  The meditation cushion provides a practical raised seat for meditation and allows for an upright and
relaxed meditation posture. It is well suited for cross-legged meditation (Sukhasana), the Burmese seat (Siddhasana) or the Half Lotus
(Ardha Padmasana).
 </br>
</p>
<h2>
 The cover of the meditation cushion is printed with a design from our Maharaja Collection.
</h2>
It is removable and machine washable, max. 30° C.
<ul>
 <li>
  Dimensions: approx. 32 x 20 cm,(filled),  height from seam to seam approx. 14 cm
 </li>
 <li>
  Material: printed twill fabric (100% cotton)
 </li>
 <li>
  Filling: spelt hulls
 </li>
 <li>
  Removable cover with zipper
 </li>
 <li>
  Available in 5 different designs
 </li>
</ul>
<h2>
 Would you like your  Bodhi meditation cushion to be softer or lower? Simply remove some spelt hulls!
</h2>
<p>
 If the meditation cushion is too high or too hard for you it is easy to remove spelt hulls. To do this, open the meditation cushion with the
zipper under the strap. You can then open the ticking separately and remove as much spelt hulls as needed until the desired height or hardness is reached. The removed cushion filling can be then stored in a
cool and dry place to be used later. We recommend a closed container.
</p>
