<h2>
 Round yoga bolster with printed cover
</h2>
<p>
 Are you looking for a yoga bolster? Our yoga bolster from the colorful Maharaja Collection is multi-funtional and available in 5 colorful designs. The round shape of the bolster makes it useful for a a variety of yoga and Pilates exercises. It is useful for opening the thoracic spine and safely practicing backbends. It can also be used to support and relax into longer positions such as those found in Yin Yoga or Restorative Yoga.
</p>
<p>
 The yoga bolster is available in five different designs from the Maharaja Collection and is available with spelt hull or kapok filling. The cover is made of printed cotton and is removeable and machine washable max. 30°C.
</p>
<ul>
 <li>
  Dimensions: approx. 65 x Ø 22 cm
 </li>
</ul>
<ul>
 <li>
  Material: printed twill fabric (100% cotton)
 </li>
</ul>
<ul>
 <li>
  Filling: spelt hulls or kapok
 </li>
</ul>
<ul>
 <li>
  <span>
   Removable cover with zipper.
  </span>
 </li>
</ul>
<ul>
 <li>
  <span>
   Available in 5 different designs
  </span>
 </li>
</ul>
<h3>
 <span>
  Would you like your yoga bolster to be softer or lower?
 </span>
</h3>
<h2>
 <span>
 </span>
</h2>
<span>
</span>
<span>
</span>
<p>
 <span>
  If your yoga bolster is too hard or too high for you, you can easily remove some of the filling. To do this, open the zipper on the side of the yoga bolster. Inside is an inner cover with the filling inside. You can then open the ticking separately and
remove as much filling as needed until the desired height or
firmness is reached. The removed filling can be then stored in a
cool and dry place to be used later. We recommend a closed container.
 </span>
</p>
