<h2>
 Meditation Set Zabuton and Meditation Cushion
</h2>
<p>
 Are you looking for a meditation set to get you started with your meditation practice? Our practical medi-set from the Maharaja Collection consists of a Zabuton meditation mat and matching meditation cushion. A meditation cushion is the most important piece for your meditation practice, helping you to sit upright and relaxed. With the yoga cushion you have the choice between our classics Rondo and Zafu. Both cushions are filled with spelt hulls.
</p>
<p>
 The soft meditation mat is especially important for regular and prolonged meditation. Thanks to the multi-layered cotton fleece, it provides a pleasant cushioning for the knees and feet. The colorful cover is removable and machine washable, max. 30°C.
</p>
<h3>
 Medi-Set consisting of a meditation cushion and a meditation mat:
</h3>
<p>
 <strong>
  Meditation cushion Zafu:
 </strong>
</p>
<ul>
 <li>
  Material: printed cotton fabric (100% cotton) filled with spelt hulls.
 </li>
 <li>
  Dimensions: approx. 38 x 20 cm (filled)
 </li>
 <li>
  Non-removable cover
 </li>
</ul>
<p>
 <strong>
  Meditation cushion Rondo:
 </strong>
</p>
<ul>
 <li>
  Material: printed cotton fabric (100% cotton) filled with spelt hulls.
 </li>
 <li>
  Dimensions: approx. 32 x 20 cm (filled) Height from seam to seam approx. 14 cm
 </li>
 <li>
  Removable cover with zipper
 </li>
</ul>
<p>
 <strong>
  Meditation Mat Zabuton:
 </strong>
</p>
<ul>
 <li>
  Dimensions: approx. 80 x 80 cm
 </li>
 <li>
  Material: printed cotton fabric (100% cotton)
 </li>
 <li>
  Filling: multi-layer cotton fleece
 </li>
 <li>
  Removable cover with zipper.
 </li>
 <li>
  Different designs available
 </li>
</ul>
