<h2>
 Futon de méditation imprimé au motif Maharaja
</h2>
<p>
 Notre ZABUTON est un futon de méditation moelleux avec une housse en coton robuste. Grâce à plusieurs couches de non-tissé à l'intérieur, les genoux et les pieds sont sensiblement soulagés pendant la méditation. Ainsi, vous n'avez plus à vous soucier d'avoir les pieds ou genoux douloureux et endormis et vous pouvez vous concentrer pleinement sur votre méditation.
</p>
<p>
 La housse amovible est constituée de coton robuste imprimé et peut être lavée en machine à 30 degrés. À l'intérieur, plusieurs couches de non-tissé de coton garantissent un rembourrage confortable.
 <ul>
  <li>
   Dimensions : env. 80 x 80 cm
  </li>
  <li>
   Matériau de la housse : tissu imprimé à motif (100 %)
  </li>
  <li>
   Garnissage : non-tissé (100 % coton)
  </li>
  <li>
   Housse amovible à fermeture éclair
  </li>
 </ul>
 <p>
  <p>
   <strong>
    Ceci est un article de notre collection MAHARAJA.
   </strong>
   <br/>
   Plus d'informations et plus d'articles de cette série de produits aux motifs colorés sous le lien suivant :
   <strong>
    <a href="http://bodynova.local/fr/Maharaja-Collection/" title="">
     bodynova.fr/Maharaja-Collection
    </a>
   </strong>
   <br/>
  </p>
 </p>
</p>