Le tapis CHANDRA est un tapis particulièrement robuste et résistant en PVC de haute densité. Il convient à une utilisation intensive, parfait pour équiper les studios de yoga ou pour pratiquer chez soi. Nous le recommandons en particulier pour les styles de yoga qui sollicitent fortement le matériau du tapis, comme l’Ashtanga ou le Power Vinyasa. Le tapis CHANDRA vous servira de manière fiable et durable.
<br/>
<br/>
L’épaisseur de 6,5 cm assure un très bon amortissement et une excellente isolation thermique tout en offrant une stabilité et une adhérence élevées. Un usage fréquent est nécessaire pour que ce type de tapis acquiert ses qualités anti-glisse maximales. L’humidité et la transpiration diminuent l’adhérence des tapis en PVC.
<br/>
<br/>
La structure fermée des cellules du tapis garantit une très bonne hygiène et un entretien facile : nettoyage simple à l’aide d’un tissu humide ou avec un léger ajout de désinfectant doux. Séchage à plat à l’air libre. Veuillez ne pas laisser le tapis sur un radiateur, évitez également le sèche-linge et le contact prolongé avec les rayons du soleil.
<br/>
<br/>
<ul>
 <li>
  Matériau : PVC certifié Oeko-Tex
  , sans latex, plastifiants, colorants azoïques, métaux lourds nocifs et phtalates.
 </li>
 <li>
  Standard: 185 x 66 cm / 3,2 kg
  <br/>
 </li>
 <li>
  XL: 200 x 66 cm / 3,5 kg
 </li>
</ul>
