<p>
 <span>
  Le tapis d'acupression pour les pieds VITAL SPIKY est pourvu de 648 pointes dures (
 </span>
 35 x 35 cm).
 <span>
 </span>
</p>
<p>
 <strong>
  Les bienfaits de l'acupression :
 </strong>
</p>
<p>
 Le
mode d'action des tapis d'acupression est basé sur l'acupression,
un principe de la médecine traditionnelle chinoise (MTC). L'acupression
est une technique qui exerce une pression sur les points d'acupuncture
pour améliorer la circulation énergétique, dans le but d'optimiser la
fonction des organes et de réduire les douleurs.
</p>
<p>
 Les célèbres "lits de clous" ont été utilisés il y a déjà 4000 ans
pour atteindre l'équilibre du corps et de l'esprit. Les tapis VITAL
stimulent les fonctions essentielles et augmente le bien-être en exercant une
pression sur les points d'acupression.
</p>
<p>
 <strong>
  Tapis d'acupression VITAL SPIKY pour les pieds :
 </strong>
</p>
Le
 tapis d'acupression Vital Spiky est pourvu de 648 pointes pointues
d'acupression qui stimulent les zones de réflexe au niveau de la plante
des pieds. L’intensité souhaitée peut être variée selon que le tapis
Vital Spiky est utilisé assis ou debout, en chaussettes ou pieds nus.
<br/>
<br/>
<p>
 <strong>
  Matériau et entretien :
 </strong>
</p>
<p>
 La housse du tapis pour les pieds Spiky est constitué en 100%
coton et les pointes sont en plastique dur hypoallergénique ABS. Pour le
nettoyage, nous vous conseillons d'utiliser de l'eau chaude avec un peu
de liquide vaisselle.
</p>
