<h2>
 Sac pour tapis de yoga en coton imprimé : le sac de yoga Asana Maharaja Collection
</h2>
<p>
 Pratique, notre sac de yoga Asana Bag au design coloré de la collection Maharaja est idéal pour transporter votre tapis de yoga. En déplacement, le sac de yoga en coton robuste protège le tapis de l'humidité et de la saleté. La bandoulière réglable permet de porter le sac confortablement sur l'épaule ou sur le dos. Deux poches extérieures offrent assez de place supplémentaire pour des accessoires de yoga tels que vêtements, ceinture ou serviette, ou bien pour des objets de valeur.
</p>
<p>
 Le sac de yoga en 100% coton imprimé est lavable à 30°C en machine. Le sac Asana est disponible en six designs différents de la collection Maharaja. Les modèles Lotus, Paisley, Bandhani et Mandala sont disponibles en trois tailles.
</p>
<h3>
 Maharaja Collection : sac de yoga Asana en coton imprimé:
</h3>
<ul>
 <li>
  Six designs différents
 </li>
 <li>
  Disponible en trois tailles pour les tapis de : 60 cm | 70 cm | 80 cm de largeur
 </li>
 <li>
  Convient aux tapis d'une épaisseur de 5 mm max. et d'une longueur jusqu'à 200 cm
 </li>
</ul>
