<h3>
 Tapis de Yoga particulièrement épais en caoutchouc naturel. Un
      tapis de Yoga de haute qualité répondant aux attentes les plus
      exigeantes.
</h3>
<p>
 Un tapis de yoga pour les plus hautes exigences et pour de longues années de pratique. Le tapis de yoga EcoPRO est fabriqué en 100% caoutchouc et ne contient
aucune substance chimique, allergène ou nocive. De plus, il est certifié
   par la norme stricte Oeko-Tex Standard 100, classe I, qui garantit
l'innocuité du contact de ce produit avec la peau des bébés. (no. de vérification : 2012OK0503)
</p>
<ul>
 <li>
  Amortissement incomparable avec 6 mm d'épaisseur
 </li>
 <li>
  La structure à cellules ouvertes de la surface permet une adhérence exceptionnelle
 </li>
 <li>
  Extrêmement anti-dérapante même en cas d'humidité, de chaleur ou de transpiration
 </li>
 <li>
  Idéal pour tous les exercices et tous les styles de yoga, même les plus dynamiques
  <br/>
 </li>
 <li>
  Très robuste et grande durabilité
 </li>
 <li>
  Testé et certifié d'après la norme stricte Oeko-Tex Standard 100, classe I, qui garantit l'innocuité du tapis au contact de la peau, même avec celle des bébés
 </li>
 <li>
  Sans substances chimiques, allergènes et nocives
 </li>
</ul>
<p>
 Pour contribuer à protéger la nature, nous utilisons uniquement des matériaux respectueux de l'environnement pour la production de l'EcoPro et misons sur des énergies renouvelables efficaces.
</p>
<p>
 <br/>
 Dimensions : 185 x 60 cm
</p>
<ul>
 <li>
  Épaisseur : 6 mm
 </li>
 <li>
  Nettoyer très prudemment avec un chiffon humide et laisser sécher
 </li>
 <li>
  Poids : 2,1 kg
 </li>
 <li>
  Ne pas exposer aux rayons directs du soleil.
 </li>
</ul>
<p>
 <br/>
 Attention :
 <br/>
 Nous recevons parfois des commentaires de clients qui se plaignent que la surface des tapis EcoPro n'est pas suffisamment résistante à l'abrasion et marque facilement. La friction produite lors de l'usage peut entrainer une transformation de la surface du tapis, comme par exemple des traces de frottement aux endroits où les talons entrent plus fréquemment en contact avec le tapis. Les ongles pointus, ainsi que de petits chocs peuvent occasionner des dommages qui ne constituent pas de vices de fabrication ou du matériau.
 <br/>
 <br/>
 Nous vous prions de considérer les points suivants : plus la surface d'un tapis de yoga est adhérente et mate, plus la friction à sa surface sera élevée.
 <br/>
 La résistance extraordinaire au glissement des tapis EcoPro est leur qualité la plus spécifique. Pour cette raison, nous n'envisageons pas de modifier le matériau de ces tapis, et vous prions de bien vouloir comprendre que ces tapis peuvent présenter des traces de friction dus aux frottements. Leur fonctionnalité et leur adhérence ne s'en trouvent aucunement affectées.
 <br/>
 <br/>
 Nous ne pouvons pas remplacer les tapis présentant les traces sus-citées.
 <br/>
 La garantie est limitée à des vice du matériau ou de fabrication. Nous vous remercions par avance pour votre compréhension !
</p>
