<h2>
 Coussin de méditation Zafu coloré en coton
</h2>
<p>
 Vous voulez acheter un coussin de méditation coloré ? Notre coussin de méditation Zafu de la collection Maharaja est disponible dans divers designs colorés. Le coussin de yoga offre une élévation pratique de votre assise, très propice à la méditation. Il permet une position assise droite et en même temps détendue et convient parfaitement à la méditation en position du tailleur (Sukhasana), en posture parfaite (Siddhasana) ou en demi-lotus (Ardha Padmasana).
</p>
<p>
 La housse du coussin de méditation Rondo est imprimée d'un motif coloré de notre collection Maharaja. La housse n'est pas amovible. Si nécessaire, vous pouvez retirer du garnissage par la femeture éclair placée sous le passant.
</p>
<ul>
 <li>
  Coussin de méditation avec plis de détente
 </li>
 <li>
  Dimensions : env. 38 x 20 cm (rempli)
 </li>
 <li>
  Housse : 100 % coton
 </li>
 <li>
  Garnissage : cosses d'épeautre
 </li>
 <li>
  Avec passant pratique pour le transport
 </li>
 <li>
  Avec housse non amovible
 </li>
</ul>
<h3>
 Votre coussin de méditation Bodhi doit être plus moelleux ou moins élevé ? Vous pouvez facilement retirer une partie du garnissage de votre coussin !
</h3>
<p>
 Si le coussin de méditation est trop haut ou trop dur, vous pouvez simplement retirer le rembourrage du coussin de méditation. Pour cela, il suffit d'ouvrir le coussin à l'aide de la fermeture éclair située sous le passant de transport. La housse interne du coussin peut être ouverte séparément et le remplissage retiré jusqu'à ce que la hauteur ou la souplesse souhaitée soit atteinte.
Le garnissage du coussin enlevé doit être stocké dans un endroit frais et sec.
Nous recommandons de conserver le garnissage dans un récipient fermé.
</p>
