<ul>
 <li>
  <p>
   <span>
    Remplissage : cosses d'épeautre | kapok
   </span>
  </p>
 </li>
</ul>
<ul>
 <li>
  <p>
   <span>
    Fermeture éclair latérale
   </span>
  </p>
 </li>
</ul>
<ul>
 <li>
  <p>
   <span>
    Dimensions : 64 x 25 x 17 cm
   </span>
  </p>
 </li>
</ul>
<ul>
 <li>
  <p>
   <span>
    Textile : coton sergé imprimé
   </span>
  </p>
 </li>
</ul>
<ul>
 <li>
  <p>
   <span>
    Avec housse amovible
   </span>
  </p>
 </li>
 <li>
  <p>
   5 différents designs disponibles
  </p>
 </li>
</ul>
<div>
</div>
