<h2>
 Coussin de méditation Rondo à impression colorée de la collection Maharaja
</h2>
<p>
 Vous voulez acheter un coussin de méditation coloré ? Notre coussin de yoga Rondo de la collection Maharaja est disponible en cinq designs colorés. Ce coussin de méditation classique offre une élévation pratique de votre assise, très propice à la méditation. Il permet une position assise droite et en même temps détendue et convient parfaitement à la méditation en position du tailleur (Sukhasana), en posture parfaite (Siddhasana) ou en demi-lotus (Ardha Padmasana).
</p>
<p>
 La housse du coussin de méditation Rondo est imprimée d'un motif coloré de notre collection Maharaja. Elle peut être retirée et lavée à 30 °C en machine.
</p>
<ul>
 <li>
  Dimensions : rempli env. 32 x 20 cm, hauteur d'une couture à l'autre env. 14 cm
 </li>
 <li>
  Tissu : 100 % coton
 </li>
 <li>
  Remplissage : cosses d'épeautre ou kapok
 </li>
 <li>
  Housse amovible avec fermeture éclair
 </li>
 <li>
  Disponible en 6 designs exclusifs
 </li>
</ul>
<h3>
 Votre coussin de méditation Bodhi doit être plus moelleux ou moins élevé ? Vous pouvez facilement retirer une partie du garnissage de votre coussin !
</h3>
<p>
 Si le coussin de méditation est trop haut ou trop dur, vous pouvez simplement retirer le rembourrage du coussin de méditation. Pour cela, il suffit d'ouvrir le coussin à l'aide de la fermeture éclair située sous le passant de transport. La housse interne du coussin peut être ouverte séparément et le remplissage retiré jusqu'à ce que la hauteur ou la souplesse souhaitée soit atteinte. Le garnissage du coussin enlevé doit être stocké dans un endroit frais et sec. Nous recommandons de conserver le garnissage dans un récipient fermé.
</p>
