<h2>
 Kit de méditation contenant un Zabuton et un coussin de méditation en design Maharaja
</h2>
<p>
 Vous commencez à méditer et aimeriez acheter un set de méditation à cet effet ? Notre set de méditation de la collection Maharaja se compose d'un futon de méditation Zabuton et d'un coussin de méditation assortis en couleur. Un coussin de méditation est l'accessoire essentiel à votre pratique de la méditation. Il vous aidera à prendre simultanément une tenue correcte et détendue. Vous avez le choix entre deux coussins de méditation différents : nos classiques Rondo et Zafu. Les deux coussins sont remplis de cosses d'épeautre.
</p>
<p>
 Le futon de méditation est moelleux et incontournable pour les séances de méditation prolongée. Grâce au molleton de coton multicouche, le futon de méditation offre un rembourrage agréable pour vos genoux et vos pieds. Ainsi, vous pouvez vous concentrer pleinement sur votre méditation.
</p>
<h3>
 Le kit de méditation se compose d'un coussin de méditation et d'un futon de méditation :
</h3>
<p>
 <strong>
  Coussin de méditation Zafu :
 </strong>
</p>
<ul>
 <li>
  Housse : tissu imprimé à motif (100 % coton)
 </li>
 <li>
  Garnissage : cosses d'épeautre
 </li>
 <li>
  Dimensions : env. 38 x 20 cm (rempli)
 </li>
 <li>
  Housse non amovible
 </li>
</ul>
<p>
 <strong>
  Coussin de méditation Rondo :
 </strong>
</p>
<ul>
 <li>
  Housse : tissu imprimé à motif (100 % coton)
 </li>
 <li>
  Garnissage : cosses d'épeautre
 </li>
 <li>
  Dimensions : env. 32 x 20 cm (rempli) - hauteur mesurée d'une couture à l'autre : env. 14 cm
 </li>
 <li>
  Housse amovible à fermeture éclair
 </li>
</ul>
<p>
 <strong>
  Futon de méditation Zabuton :
 </strong>
</p>
<ul>
 <li>
  Dimensions : env. 80 x 80 cm
 </li>
 <li>
  Housse : tissu imprimé à motif (100 % coton)
 </li>
 <li>
  Garnissage : molleton de coton (100 % coton)
 </li>
 <li>
  Housse amovible à fermeture éclair
 </li>
</ul>
